.console {
  background: #fff;
  color: #000;
  padding: 0;
  position: relative;
}
.console * {
  border: 0;
  font: normal 14px/1.3 Consolas,'Andale Mono','Courier New',Courier,monospace;
  margin: 0;
  outline: 0;
  padding: 0;
}
.console textarea {
  background: transparent;
  color: #000;
  display: block;
  overflow: hidden;
  resize: none;
  vertical-align: middle;
  width: 100%;
  word-wrap: normal;
}
.console-container {
  max-height: 100%;
  overflow: auto;
}
.console-container span.string {
  color: #c00;
}
.console-container span.string::before,
.console-container span.string::after {
  color: #333;
  content: '"';
}
.console-container span.number {
  color: #00f;
}
.console-container span.null,
.console-container span.undefined {
  color: #999;
}
.console-container ol.array::before {
  color: #999;
  content: '[';
}
.console-container ol.array::after {
  color: #999;
  content: ']';
}
.console-container ol.array li {
  display: inline-block;
}
.console-container ol.array li::after {
  color: #999;
  content: ',';
}
.console-container ol.array li:last-child::after {
  content: none;
}
.console-container dl.object::before {
  color: #000;
  content: 'Object {';
}
.console-container dl.object::after {
  color: #000;
  content: '}';
  margin-left: 0.5em;
}
.console-container dl.object dt, .console-container dl.object dd {
  display: inline-block;
}
.console-container dl.object dt {
  color: #909;
  margin-left: 0.5em;
}
.console-container dl.object dt::after {
  color: #000;
  content: ':';
  margin-right: 0.25em;
}
.console-container dl.object dd::after {
  content: ',';
}
.console-container dl.object dd:last-child::after {
  content: none;
}
.console-container div.element div.open,
.console-container div.element div.close {
  color: #909;
  display: inline;
}
.console-container div.element div.open::before {
  content: '<';
}
.console-container div.element div.close::before {
  content: '</';
}
.console-container div.element div.open::after,
.console-container div.element div.close::after {
  content: '>';
}
.console-container div.element div.content {
  display: none;
}
.console-container div.element dl,
.console-container div.element dt,
.console-container div.element dd {
  display: inline;
}
.console-container div.element dt {
  color: #c00;
  margin-left: 0.5em;
}
.console-container div.element dt::after {
  content: '=';
}
.console-container div.element dd {
  color: #00f;
}
.console-container div.element dd::before,
.console-container div.element dd::after {
  color: #c00;
  content: '"';
}
.console-container p {
  padding-left: 15px;
  position: relative;
}
.console-container p::before {
  color: #ccc;
  content: '>';
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 15px;
}
.console-container p.console-input::before {
  color: #39f;
}
.console-container p div.command {
  color: #39f;
  white-space: pre;
}
.console-container p.error div.result {
  color: #f00;
}